@model IEnumerable<Coursework_in_Java.Models.Posts>

@{
    ViewBag.Title = "Відгуки";
}

@section styles{
<style>

    .my {
    width: 300px; /* Ширина слоя */
    margin: 7px; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    border: 4px solid black; /* Параметры границы */
    background: #fc0; /* Цвет фона */
   }

    </style>

}

<h2>Відгуки</h2>

<p>
    @Html.ActionLink("Додати коментар", "Create")
</p>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@

    @foreach (var post in Model)
    {
        <div class="my">
            @post.Content
        </div>
        <br />
    }
